.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.appBar {
  background-color: #779bb7;
}

.appBarText {
  flex-grow: 1;
  text-align: center;
  font-family: monospace;
  font-size: 26px;
  font-weight: bold;
  color: white;
}

.iconButtons {
  display: flex;
  gap: 8px;
}

.main {
  flex: 1;
  padding: 20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.card {
  width: 245px;
  text-align: center;
  margin: 10px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}